@model IEnumerable<Entidades.ClienteIntegrin>

@{
    ViewBag.Title = "Clientes Pendientes";
}

<h2>Clientes Pendientes</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ciclo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codpredio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion_cliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ciclo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codpredio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido1_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido2_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion_cliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCliente", new { id = item.Id_Cliente_integrin }) |
        </td>
    </tr>
}

</table>
