@model IEnumerable<Entidades.ClienteIntegrin>

@{
    ViewBag.Title = "Clientes Pendientes";
}

<h2>Clientes Pendientes</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ciclo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codpredio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ciclo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codpredio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCliente", new { id = item.Id_Cliente_integrin }) |
        </td>
    </tr>
}

</table>
