@model Entidades.cliente

@{
    ViewBag.Title = "Actualizar Cliente";
    ViewBag.Mensaje = "";
}

<h2>Actualizar Cliente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Cliente Integrin</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_cliente_integrin)
    <div> <span class="text-danger">@ViewBag.Mensaje</span></div> 
    <div class="form-group">
        @Html.LabelFor(model => model.tipo_identificacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.tipo_identificacion, new SelectList(Model.ltipodocumento, "codigo", "descripcion"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tipo_identificacion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.identificacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.identificacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.identificacion, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.dv, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.dv, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dv, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.razon_social, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.razon_social, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.razon_social, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.nombres, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.apellido_1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.apellido_1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.apellido_1, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.apellido_2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.apellido_2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.apellido_2, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.tipo_persona, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.tipo_persona, new SelectList(Model.lpersona, "codigo", "Descripcion"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tipo_persona, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.departamento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.departamento, new SelectList(Model.ldeptos, "CodDepto", "Nombre"), new { @class = "form-control", @Id = "Departamento" })
            @Html.ValidationMessageFor(model => model.departamento, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ciudad, new SelectList(Model.lmuni,"CodMuni","Nombre"), new { @class = "form-control", @Id = "ddlciudad" })
            @Html.ValidationMessageFor(model => model.ciudad, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.zona_postal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.zona_postal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.zona_postal, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.codpredio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.codpredio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.codpredio, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ciclo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ciclo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ciclo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.resp_rut, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ListBoxFor(model => model.selectedresp, new SelectList(Model.lresponsabilidades, "codigo", "descripcion"), new { @class = "form-control", multiple = "multiple" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.tributos, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ListBoxFor(model => model.selectedTrib, new SelectList(Model.ltributos, "codigo", "nombre"), new { @class = "form-control", multiple = "multiple" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Cliente")
</div>
@section Scripts
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#Departamento').change(function () {
                    var depto = $(this).val();
                    if (depto) {
                        $.getJSON('@Url.Action("Consultar_Municipio","Cliente")', { codDepto: depto }, function (ciudades) {
                            var ciudadDropdown = $('#ddlciudad');
                            ciudadDropdown.empty();
                            $.each(ciudades, function (index, ciudad) {
                                ciudadDropdown.append($('<option/>', {
                                    value: ciudad.CodMuni,
                                    text: ciudad.Nombre
                                }))
                            })
                        })
                    }
                    else {
                        $('#ddlciudad').empty();
                    }
                })
            })

        </script>
    }
